body {
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin-top: 3em;
  align-items: center;
}
.container {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 20px;
  border-radius: 10px;
  margin: auto;
  width: fit-content;
}

.container button {
  display: inline-block;
  outline: 0;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
  background: #ffd814;
  border: 1px solid #fcd200;
  font-size: 13px;
  height: 31px;
  padding: 0 11px;
  text-align: center;
  width: fit-content;

  font-weight: bold;
  color: #0f1111;
  :hover {
    background: #f7ca00;
    border-color: #f2c200;
    box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
  }
}
